body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container_ChessBoard {
  width: 100vh;
  height: 100vh;
  background-color: rgba(188, 188, 193);
}

table {
  border: 1px solid black;
  width: 90%;
  height: 90%;
  border-collapse: collapse;
}

table,
td {
  border: 1.2px solid rgba(28, 27, 27, 1);
  position: relative;
}

img {
  z-index: 100;
}
td {
}
/* black square  */
table tr:nth-child(odd) td:nth-child(even),
table tr:nth-child(even) td:nth-child(odd) {
  background-color: rgb(98, 110, 123);
  border: 0.5px solid rgba(27, 27, 27, 1);
}
/* white square 
table tr:nth-child(2n) td:nth-child(2n + 1),
table tr:nth-child(2n + 1) td:nth-child(2n) {
  border: 1px solid rgba(27, 27, 27, 0.5);
} */
